:host {
  display: block;
}

.eyes-page-action-group {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-end;
  gap: var(--eyes-space-2);
}

table {
  min-width: 68rem;
}

@media (max-width: 40rem) {
  .eyes-page-action-group {
    align-items: stretch;
    flex-direction: column;

    button {
      width: 100%;
    }
  }
}
