<app-auth-layout>
  <app-form-card title="Acesse sua conta" subtitle="Seja bem-vindo de volta ao Eyes Project">
    
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="login-form">
      <div class="form-group" [class.invalid]="isFieldInvalid('email')">
        <label for="email">E-mail</label>
        <div class="input-wrapper">
          <input 
            id="email" 
            type="email" 
            formControlName="email" 
            placeholder="seu@email.com"
            (focus)="setFocus('email')"
            (blur)="setFocus(null)">
        </div>
        <small class="error-msg" *ngIf="isFieldInvalid('email')">E-mail inválido ou obrigatório</small>
      </div>

      <div class="form-group" [class.invalid]="isFieldInvalid('password')">
        <div class="label-wrapper">
          <label for="password">Senha</label>
          <a routerLink="/forgot-password" class="forgot-link">Esqueceu a senha?</a>
        </div>
        <div class="input-wrapper">
          <input 
            id="password" 
            [type]="passwordVisible() ? 'text' : 'password'" 
            formControlName="password" 
            placeholder="••••••••"
            (focus)="setFocus('password')"
            (blur)="setFocus(null)">
          
          <button type="button" class="toggle-btn" (click)="togglePasswordVisibility()">
             {{ passwordVisible() ? 'Ocultar' : 'Ver' }}
          </button>
        </div>
        <small class="error-msg" *ngIf="isFieldInvalid('password')">Senha obrigatória (mín. 6 caracteres)</small>
      </div>

      <app-button 
        variant="primary" 
        label="Entrar na conta" 
        type="submit"
        [loading]="authFacade.isLoading()"
        [disabled]="loginForm.invalid">
      </app-button>

      <div class="footer-links">
        <span>Não tem uma conta?</span>
        <a routerLink="/solicitar-acesso">Solicitar Acesso</a>
      </div>
    </form>

  </app-form-card>
</app-auth-layout>
